
@{
    ViewData["Title"] = "Update";
}
@section styles{
    <style>
        .prod-imgs{
            display: flex;
            gap:10px;
        }
        .prod-imgs div{
            position:relative;
        }
        .prod-imgs div .x-button{
            position:absolute;
            top:0;
            right: 2.5px;
            font-size:20px;
            cursor:pointer;
            color:deeppink;
            background-color:#fff;
            padding:5px;
        }
        </style>
    <link href="~/assets/select2/css/select2.min.css" rel="stylesheet" />
}
@model UpdateProductGETVM
<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label>Name</label>
        <input class="form-control" asp-for="Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label>Description</label>
        <input class="form-control" asp-for="Description">
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div class="mb-3">
        <label>Price</label>
        <input class="form-control" asp-for="Price">
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>
    <div class="mb-3">
        <label>Discount</label>
        <input class="form-control" asp-for="Discount">
        <span class="text-danger" asp-validation-for="Discount"></span>
    </div>
    <div class="mb-3">
        <label>StockCount</label>
        <input class="form-control" asp-for="StockCount">
        <span class="text-danger" asp-validation-for="StockCount"></span>
    </div>
    <div class="mb-3">
        <label>Rating</label>
        <input class="form-control" asp-for="Rating">
        <span class="text-danger" asp-validation-for="Rating"></span>
    </div>
    <div class="mb-3">
        <label>Categories</label>
        <select class="salam w-100" asp-for="ProductCategoryIds" asp-items="@ViewBag.Categories" multiple="multiple">
        </select>
        <span class="text-danger" asp-validation-for="ProductCategoryIds"></span>
    </div>
    <div class="mb-3">
        <label><img src="~/@Model.MainImage" width="100" /></label>
        <input class="form-control" asp-for="MainImageFile">
        <span class="text-danger" asp-validation-for="MainImageFile"></span>
    </div>
    <div class="mb-3">
        <label><img src="~/@Model?.HoverImage" width="100" /></label>
        <label for="ImageFile" class="form-label">HoverImageFile</label>
        <input class="form-control" asp-for="HoverImageFile">
        <span class="text-danger" asp-validation-for="HoverImageFile"></span>
    </div>
    <div class="mb-3">
        <label class="prod-imgs">
            @foreach (var item in Model?.ProductImages)
            {
                <div>
                    <a asp-action="DeleteImage" asp-route-id="@item.Id" class="x-button">x</a>
                    <img src="~/@item.Name" width="100" height="100" />
                </div>
            }
        </label>
        <input class="form-control" asp-for="ProductImageFiles">
        <span class="text-danger" asp-validation-for="ProductImageFiles"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
@section scripts{
    <script src="~/assets/select2/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.salam').select2({
                maximumSelectionLength: 4
            });
        });
    </script>
    <script>
        $(".x-button").click(e=>{
            e.preventDefault();
            let elem = e.target;
            console.log(elem.href);
            fetch(elem.href).then(res => {
                if(res.ok == true)
                {
                    elem.parentElement.remove()
                }
            })
            .catch(e=>{
                console.log(e)
            })
        })
    </script>
}