@{
    ViewData["Title"] = "Create";
}

@model Category

<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label>Title</label>
        <input class="form-control" asp-for="Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

