@model List<Product>


@foreach (var item in Model)
{
    <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="feat-prod product-item">
            <div class="product-img">
                <a asp-controller="Flower" asp-action="Detail" asp-route-id="@item.Id">
                    <img class="primary-img"
                         src="~/@item.MainImage"
                         alt="Product Images" />
                    @if (item.HoverImage != null)
                    {
                        <img class="secondary-img"
                             src="~/@item.HoverImage"
                             alt="Product Images" />
                    }
                </a>
                <div class="product-add-action">
                    <ul>
                        <li class="quuickview-btn"
                            data-bs-toggle="modal"
                            data-bs-target="#quickModal">
                            <a href="#"
                               data-tippy="Quickview"
                               data-tippy-inertia="true"
                               data-tippy-animation="shift-away"
                               data-tippy-delay="50"
                               data-tippy-arrow="true"
                               data-tippy-theme="sharpborder">
                                <i class="pe-7s-look"></i>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Home"
                                asp-action="AddBasket"
                                asp-route-id="@item.Id"
                               data-tippy="Add to cart"
                               data-tippy-inertia="true"
                               data-tippy-animation="shift-away"
                               data-tippy-delay="50"
                               data-tippy-arrow="true"
                               data-tippy-theme="sharpborder">
                                <i class="pe-7s-cart"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product-content">
                <a class="product-name" asp-controller="Flower" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a>
                <div class="price-box pb-1">
                    <pre class="new-price"> $@item.Price </pre>
                </div>
                <div class="rating-box">
                    <ul>
                        @for (int i = 0; i < item.Rating; i++)
                        {
                            <li><i class="fa fa-star"></i></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
